<!-- <div class="row form">
  <div class="large-12 medium-12 small-12 large-centered" id="post-form" style="display:none;"></div>
</div> -->

<!-- <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
 -->
<div class="row">
  <div class="large-12 medium-12 small-12 column">
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div id="post-form">
      </div>

      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
</div>

<div class="row features">
  <div class="large-8 medium-10 small-12 column feature-main">
    <img alt="" src="http://p-fst2.pixstatic.com/555a2ea02a099a1ae3007f0c/_w.1490_h.932_s.centercrop_/James-and-Shanna-Midcentury-Modern-Bungalow-Durham-NC-8603.jpg">
    <div class="feature-main-text"><h1>James & Shanna's Mid-Mod Bangalow</h1></div>
  </div>
  <div class="large-4 medium-4 small-6 column feature-sides">
    <img alt="" src="http://p-fst1.pixstatic.com/55843547697ab014ff00c330/_w.348_h.262_s.centercrop_/8ECC2B83-217D-4916-906E-C48EB0819EB1.png">
  </div>
  <div class="large-4 medium-4 small-6 column feature-sides">
    <img alt="" src="http://p-fst1.pixstatic.com/506b36c674c5b64b1d001467._w.348_h.262_s.centercrop_.jpg" class="hoverZoomLink">
  </div>
</div>

<div class="row">
    <div class="large-12 medium-12 small-12 column">
        <% if user_signed_in? %>
        <h1><%= link_to "new post", new_post_path, "data-reveal-id" => "myModal", remote: true %></h1>
        <% else %>
        <h1><%= link_to "Please sign up or log in to post", new_user_session_path %></h1>
        <% end %>
      </div>
  </div>

<div class="row posts">
  <div class="large-2 medium-3 small-12 column side-nav">
    <h3 class="show-for-medium-up">BROWSE</h3>
    <ul>
      <li>Renovation Diaries</li>
      <li>Maker Talks</li>
      <li>Tours</li>
      <li>Rooms</li>
      <li>Projects</li>
      <li>Life at Home</li>
      <li>Decor Styles</li>
      <li>Before & After</li>
      <li>Small Spaces</li>
      <li>Budget Living</li>
      <li>Video</li>
      <li>Classifieds</li>
      <li>Color Search</li>
      <li>All Categories</li>
    </ul>
  </div>

  <div class="large-8 medium-9 small-12 column post-content">
    <div class="row">
      <div class="post-header">
        <h3>JUST IN</h3>
      </div>
    </div>
    <div class="post-list">
      <%= render @posts %>
    <div class="infinite-scrolling">
      <%= will_paginate @posts %>
    </div>
    </div>

    <div class="row">
      <div class="row">
    <div class="large-12 medium-12 small-12 column">
      <% if user_signed_in? %>
      <h1><%= link_to "new post", new_post_path, "data-reveal-id" => "myModal", remote: true %></h1>
      <% else %>
      <h1><%= link_to "Please sign up or log in to post", new_user_session_path %></h1>
      <% end %>
    </div>
</div>
    </div>
  </div>


  <div class="large-2 medium-0 small-0 column side-ad">

  </div>
</div>


