<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to "new post", new_post_path, remote: true %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>
  <li><%= link_to 'Style', "#" %></li>
  <li><%= link_to 'DIY', "#" %></li>
  <li><%= link_to 'HOMEKEEPING', "#" %></li>
  <li><%= link_to 'FAMILY', "#" %></li>
  <li><%= link_to 'TECH', "#" %></li>
  <li><%= link_to 'RENOVATING', "#" %></li>
  <li><%= link_to 'SHOPPING', "#" %></li>
  <li><%= link_to 'OUTDOOR', "#" %></li>

